#block_3_list-1 span {
  padding-top: 5px;
    text-align: center;
    width: 95px;
    background: #ff1e00;
    border-radius: 25px;
    height: 25px;
    margin-bottom: 13px;
    border: #ff1e00;
    color: white;
    
  }