
#container_1 {
    display: flex;
    flex-wrap: nowrap;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
  
  }
  
  #data_proj div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  #data_proj {
    padding: 25px;
    width: 370px;
  }
  
  #all_space {
    justify-content: space-between;
    display: flex;
  }

  #name_repo a {
    text-decoration: none;
    color: #837E9F;
    font-size: 20px;
  }